<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="row" style="width: 100%">
	<div class="card" style="width:150px; margin-left: 70px; text-align: center">
		<p>Scoundrel</p>
		<br />
		<br />
		<p>Sarah Weinman</p>
		<br />
		<p>Non-Fiction</p>
		<p>$22.99</p>
		<form action="/payScoundrel" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>The Invisible Kingdom</p>
		<br />
		<p>Meghan O'Rourke</p>
		<br />
		<p>Non-Fiction</p>
		<p>$18.99</p>
		<form action="/payTheInvisibleKingdom" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>True Story: What Reality TV Says About Us</p>
		<p>Danielle J. Lindemann</p>
		<p>Non-Fiction</p>
		<p>$20.99</p>
		<form action="/payWhatRealityTVSaysAboutUs" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>Anthem</p>
		<br />
		<br />
		<p>Noah Hawley</p>
		<br />
		<p>Science-Fiction</p>
		<p>$19.99</p>
		<form action="/payAnthem" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>Olga Dies Dreaming</p>
		<br />
		<br />
		<p>Xochitl Gonzalez</p>
		<br />
		<p>Non-Fiction</p>
		<p>$17.99</p>
		<form action="/payOlgaDiesDreaming" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>To Paradise</p>
		<br />
		<br />
		<p>Hanya Yanagihara</p>
		<br />
		<p>Non-Fiction</p>
		<p>$19.99</p>
		<form action="/payToParadise" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>How Civil Wars Start</p>
		<br />
		<br />
		<p>Barbara F. Walter</p>
		<br />
		<p>Non-Fiction</p>
		<p>$20.99</p>
		<form action="/payHowCivilWarsStart" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>How High We Go in the Dark</p>
		<br />
		<p>Sequoia Nagamatsu</p>
		<br />
		<p>Non-Fiction</p>
		<p>$21.99</p>
		<form action="/payHowHighWeGoInTheDark" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>Notes on an Execution</p>
		<br />
		<p>Danya Kukafka</p>
		<br />
		<p>Non-Fiction</p>
		<p>$17.99</p>
		<form action="/payNotesOnAnExecution" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width:150px; margin-left: 10px; text-align: center">
		<p>South to America</p>
		<br />
		<br />
		<p>Imani Perry</p>
		<br />
		<p>Non-Fiction</p>
		<p>$22.99</p>
		<form action="/paySouthToAmerica" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
</div>
<div class="row" style="width: 100%; margin-top: 10px; margin-left: 45px;">
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Vladimir</p>
		<br />
		<br />
		<p>Julia May Jonas</p>
		<br />
		<p>Non-Fiction</p>
		<p>19.99</p>
		<form action="/payVladimir" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Employees</p>
		<br />
		<br />
		<p>Olga Ravn</p>
		<br />
		<p>Non-Fiction</p>
		<p>15.99</p>
		<form action="/payTheEmployees" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Thank You, Mr. Nixon</p>
		<br />
		<p>Gish Jen</p>
		<br />
		<p>Non-Fiction</p>
		<p>24.99</p>
		<form action="/payThankYouMrNixon" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Moon Witch, Spider King</p>
		<br />
		<p>Marlon James</p>
		<br />
		<p>Non-Fiction</p>
		<p>$23.99</p>
		<form action="/payMoonWitchSpiderKing" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Groundskeeping</p>
		<br />
		<br />
		<p>Lee Cole</p>
		<br />
		<p>Non-Fiction</p>
		<p>$17.99</p>
		<form action="/payGroundskeeping" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Trust the Plan</p>
		<br />
		<br />
		<p>Will Sommer</p>
		<br />
		<p>Non-Fiction</p>
		<p>$14.99</p>
		<form action="/payTrustThePlan" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>How to Take Over the World</p>
		<br />
		<p>Ryan North</p>
		<br />
		<p>Non-Fiction</p>
		<p>$27.99</p>
		<form action="/payHowToTakeOverTheWorld" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Ancestor Trouble</p>
		<br />
		<br />
		<p>Maud Newton</p>
		<br />
		<p>Non-Fiction</p>
		<p>$26.99</p>
		<form action="/payAncestorTrouble" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>American Dirt</p>
		<br />
		<br />
		<p>Jeanine Cummins</p>
		<br />
		<p>Non-Fiction</p>
		<p>$13.99</p>
		<form action="/payAmericanDirt" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Great Alone</p>
		<br />
		<br />
		<p>Kristin Hannah</p>
		<br />
		<p>Non-Fiction</p>
		<p>$18.99</p>
		<form action="/payTheGreatAlone" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
</div>
<div class="row" style="width: 100%; margin-top: 10px; margin-left: 45px;">
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Paper Palace</p>
		<br />
		<br />
		<p>Miranda Cowley Heller</p>
		<p>Non-Fiction</p>
		<p>18.99</p>
		<form action="/payThePaperPalace" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Silent Wife</p>
		<br />
		<br />
		<p>Kerry Fisher</p>
		<br />
		<p>Thriller</p>
		<p>5.99</p>
		<form action="/payTheSilentWife" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Nightingale</p>
		<br />
		<br />
		<p>Kristin Hannah</p>
		<br />
		<p>Non-Fiction</p>
		<p>16.99</p>
		<form action="/payTheNightingale" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Maid</p>
		<br />
		<br />
		<p>Nita Prose</p>
		<br />
		<p>Non-Fiction</p>
		<p>$16.99</p>
		<form action="/payTheMaid" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Silent Patient</p>
		<br />
		<br />
		<p>Alex Michaelides</p>
		<br />
		<p>Non-Fiction</p>
		<p>$12.99</p>
		<form action="/payTheSilentPatient" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>It Ends with Us</p>
		<br />
		<br />
		<p>Colleen Hoover</p>
		<br />
		<p>Non-Fiction</p>
		<p>$14.99</p>
		<form action="/payItEndsWithUs" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>We Were Liars</p>
		<br />
		<br />
		<p>E. Lockhart</p>
		<br />
		<p>Non-Fiction</p>
		<p>$9.99</p>
		<form action="/payWeWereLiars" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>People We Meet on Vacation</p>
		<br />
		<p>Emily Henry</p>
		<br />
		<p>Non-Fiction</p>
		<p>$20.99</p>
		<form action="/payPeopleWeMeetOnVacation" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>The Seven Husbands of Evelyn Hugo</p>
		<p>Taylor Jenkins Reid</p>
		<br />
		<p>Non-Fiction</p>
		<p>$13.99</p>
		<form action="/payTheSevenHusbandsOfEvelynHugo" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
	<div class="card" style="width: 150px; margin-left: 10px; text-align: center">
		<p>Before We Were Yours</p>
		<br />
		<p>Lisa Wingate</p>
		<br />
		<p>Non-Fiction</p>
		<p>$14.99</p>
		<form action="/payBeforeWeWereYours" method="post">
			<input type="submit" class="btn btn-info" value="Buy">
		</form>
	</div>
</div>